<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23913683584-k417ihqo34dhie8skm5vu180hlpui290.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23913683584-k417ihqo34dhie8skm5vu180hlpui290</string>
	<key>API_KEY</key>
	<string>AIzaSyAjZoLicnEy4wtol4FWWar022lEVyv78M8</string>
	<key>GCM_SENDER_ID</key>
	<string>23913683584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialTransport.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>social-transport-e10f6</string>
	<key>STORAGE_BUCKET</key>
	<string>social-transport-e10f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23913683584:ios:23dddc14aa01620312e465</string>
</dict>
</plist>